<div class="col-md-3">
    <div class="list-group">
        <a href="/teacher/dashboard" class="list-group-item">Dashboard</a>
        <a href="/teacher/students" class="list-group-item">Students</a>
        <a href="/teacher/requests" class="list-group-item">Join Requests</a>
        <a href="/teacher/doubts" class="list-group-item">Doubts</a>
        <a href="/teacher/tasks" class="list-group-item">Tasks</a>
        <a href="/teacher/attendance" class="list-group-item">Attendance</a>
        <a href="/teacher/fees" class="list-group-item">Fees</a>
        <a href="/teacher/profile" class="list-group-item">Profile</a>
    </div>
</div>