<%- include('../partials/header', { title: 'Study Notes' }) %>
    <%- include('../partials/navbar', { portal: 'Student Portal' }) %>

        <div class="container mt-4">
            <h4>Study Materials</h4>

            <ul class="list-group">
                <li class="list-group-item">
                    Trigonometry Notes
                    <button class="btn btn-sm btn-primary float-end">Download</button>
                </li>
            </ul>
        </div>

        <%- include('../partials/footer') %>